<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="BibliotecaVirtualEntities" connectionString="metadata=res://*/BibliotecaVirtual.csdl|res://*/BibliotecaVirtual.ssdl|res://*/BibliotecaVirtual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FABS-PC;initial catalog=BibliotecaVirtual;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICLivro" />
        <binding name="BasicHttpBinding_ICAluno" />
        <binding name="BasicHttpBinding_ICAutor" />
        <binding name="BasicHttpBinding_ICEditora" />
        <binding name="BasicHttpBinding_ICGenero" />
        <binding name="BasicHttpBinding_ICLivroAutor" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:26759/CAluno.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICAluno" contract="CAluno.ICAluno"
        name="BasicHttpBinding_ICAluno" />
      <endpoint address="http://localhost:26759/CAutor.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICAutor" contract="CAutor.ICAutor"
        name="BasicHttpBinding_ICAutor" />
      <endpoint address="http://localhost:26759/CEditora.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICEditora" contract="CEditora.ICEditora"
        name="BasicHttpBinding_ICEditora" />
      <endpoint address="http://localhost:26759/CGenero.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICGenero" contract="CGenero.ICGenero"
        name="BasicHttpBinding_ICGenero" />
      <endpoint address="http://localhost:26759/CLivro.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICLivro" contract="CLivro.ICLivro"
        name="BasicHttpBinding_ICLivro" />
      <endpoint address="http://localhost:26759/CLivroAutor.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICLivroAutor" contract="CLivroAutor.ICLivroAutor"
        name="BasicHttpBinding_ICLivroAutor" />
    </client>
  </system.serviceModel>
</configuration>